
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Play&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
    $(document).ready(() => {
      $('.sidenav').sidenav();
      $('.modal').modal();
      $('.close').click(() => {
        $('.messages').hide()
      });
      $('.parallax').parallax();
    });

    </script>
    <link rel="stylesheet" href="/static/css/main.css">
    <meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
    <meta charset="utf-8">

    <title>ross_portfolio</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="{% url 'project_index' %}" class="brand-logo">Takia Ross <span class="logo-style">Software Developer</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile"class="right hide-on-med-and-down">
          <li><a href= "mailto:{{ email_address }}">Contact</a></li>
          <li><a target="_blank" href="{% url 'resume' %}">Resume</a></li>
          <li><a target="_blank" href="https://github.com/TR-1000">GitHub</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/takia-ross/">LinkedIn</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a target="_blank" href="{% url 'contact' %}">Resume</a></li>
      <li><a target="_blank" href="https://github.com/TR-1000">GitHub</a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/takia-ross/">LinkedIn</a></li>
    </ul>


    {% block content %}


    {% endblock %}
    <footer class="page-footer">
      <p> &nbsp &nbsp &nbsp &nbsp© T. L. Ross {% now "Y" %}</p>
      <br>
    </footer>
  </body>




</html>
