body {
  background-color: #969696
}

nav, .page-footer {
  background-color: #08182f
}

nav .brand-logo {
  padding-left: 16px;
  font-size: 1.5rem;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 0px;
  margin: 0 auto;
  max-width: 1250px;
  text-align: center;
  margin-bottom: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.logo-style {
  color: #039be5
}

.btn {
  background-color: #039be5
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #6bc4f0;
}

.about {
  background-color: #2158a7;
  padding: 50px 250px 50px 250px;
  color: #fff;

}

.contact-btn {
  display: flex;
  justify-content: center;
}

.main {
padding: 100px 0px 100px 0px
}

.row {
  margin-top: 125px;
}

.card {
  padding: 15px;
  background-color: #f0f0f0
}
