body {
  background-color: #a5b7c7
}

nav {
  background-color: #08182f
}

nav .brand-logo {
  padding-left: 16px;
  font-size: 1.5rem;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-style {
  color: #039be5
}

.btn {
  background-color: #039be5
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #6bc4f0;
}

.row {
  margin-top: 125px;
}

.card {
  padding: 15px;
  background-color: #f0f0f0
}
