{% extends "base.html" %}
{% load static %}
{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/scribbler-global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/scribbler-landing.css' %}">
  <script src="{% static 'js/scribbler.js' %}"></script>
  <style media="screen">
    html, body {
      background-color: #f0f0f0;
    }

  </style>

    <div class="card detail">
      <div class="card-image">
        <img src="{{project.image}}">
      </div>
      <div class="card-content">
        <a class="underline-link" target="_blank" href="{{project.url}}"><h2 class="card-title">{{project.title}}</h2></a>
        <span>{{project.description}}</span>

        <h3 class="card-title">Built With:</h3>
        <span>{{project.technology}}</span>

        <a class="link link--dark" target="_blank" href="{{ project.link }}"><h3 class="card-title" id="repo">See more on GitHub</h3></a><br>
      </div>
      <!-- <div class="card-action">
        <a href="{% url 'projects' %}" class="button--secondary">Back</a>
      </div> -->
    </div>



{% endblock %}
