{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="card">
    <div class="row" >
        <div class="col s12 m6">
            <img class="" src="{{project.image}}">
        </div>
        <div class="col s12 m6">
          <a href="{% url 'project_index' %}" class="btn">Back</a>
            <a target="_blank" href="{{ project.link }}"><h3>{{ project.title }}</h3></a>
            <br>
            <h5>Project Details:</h5>
            <p>{{ project.description }}</p>
            <a target="_blank" href="{{ project.link }}"><p>See more on GitHub</p></a>
            <br>
            <h5>Built With:</h5>
            <p>{{project.technology}}</p>
        </div>
    </div>
  </div>

{% endblock %}
