{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- <div class="parallax-container about" style="height: 55%">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
      <h3>{{ message|safe }}
      <a href="#" class="close">x</a></h3>
    </li>
    {% endfor %}
  </ul>

  {% endif %}

  <h2> Backend Specialist, Frontend Hacker<br>
     <span class="subheading">These are some of my most recent web development projects.</span>
  </h2>
      <div class="parallax">
        <img style="opacity: 0.5;" src="{% static 'img\photo-1527600478564-488952effedb.jpg' %}">
      </div>
</div> -->

<div class="hero">
  <h1 class="hero__title">PROJECTS</h1>
  <!-- <h4 class="hero__description">Back-End Specialist, Front_End Hacker</h4> -->
</div>


<div class="hero__terminal" id="projects">
{% for project in projects %}
<a href="{% url 'project_detail' project.pk %}">
<div class="card">

    <img class="" src="{{project.image}}">

    <div class="card-body">
      <h2 class="card-title">{{project.title}}</h2>


    </div>
</div>
</a>
    {% endfor %}
</div>

{% endblock %}
