{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="parallax-container about" style="height: 50%">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
      <h3>{{ message|safe }}
      <a href="#" class="close">x</a></h3>
    </li>
    {% endfor %}
  </ul>

  {% endif %}
  <span><h2> Backend specialist and frontend hacker!<br>
     I specialize in the Python programming languages. These are some of my most recent projects. :)
  </h2></span>


  <div class="contact-btn">

    <a  id="contact" href= "mailto:{{ email_address }}" class="btn">Contact Me</a>


    <div class="modal">
      <!-- Modal Trigger -->

      <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Contact Me</a> -->

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Send and Email</h4>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <!-- Modal Structure End -->
    </div>
  </div>
      <div class="parallax">
        <img src="https://images.unsplash.com/photo-1527600478564-488952effedb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
      </div>
</div>




<div class="main">
{% for project in projects %}
    <div class="container">
        <div class="card">
            <img class="" src="{{project.image}}">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn">
                    More...
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
